.feedback-section {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  .small-title{
    color: #F9A500 ;
  }
  
  .feedback-title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .feedback-subtitle {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  .feedback-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .left-section
   {
    position: relative;
    width: 25%;
    clip-path: circle(50% at center);
  }
  .right-section{
    position: relative;
    width: 25%;
    clip-path: circle(50% at center);
    height:auto;
     
  }
  
  .customer-img
  {
    width: 100%;
    border-radius: 10px;
  }
  .juice{
    width: 100%;
    border-radius: 10px;
    height: 500px;

  }
  .orange-decor
   {
    position: absolute;
    bottom: -20px;
    left: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  .strawberry-decor{
    position: absolute;
    top: -20px; 
    right: -30px; 
    width: 80px;
    height: 80px;
    object-fit: contain; 
  }
  
  .middle-section {
    width: 40%;
    text-align: center;
  }
  
  .profile-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
  }
  
  .profile-icons img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .feedback-text {
    background-color: #222;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  .feedback-text p {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .customer-name {
    font-weight: bold;
    display: block;
    margin-top: 10px;
  }
  
  .customer-role {
    font-size: 12px;
    color: #777;
  }
  
  .pagination {
    margin-top: 10px;
  }
  
  .pagination .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #555;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .pagination .dot.active {
    background-color: #f90;
  }